<table>
    <thead>
      <tr>
        <th><%= sortable "title"%></th>
        <th><%= sortable "description"%></th>
        <th><%= sortable "user_id", "User" %></th>
        <th><%= sortable "payment_description", "Payment" %></th>
        <th><%= sortable "category"%></th>
        <th><%= sortable "runner_id", "Runner" %></th>
        <th><%= sortable "status"%></th>
        <th><%= sortable "address"%></th>
        <th colspan="6"></th>
      </tr>
    </thead>

    <tbody>
      <% tasksToTable.each do |task| %>
        <tr>
            <td title = '<%= task.title %>'><%= task.title.first(20) %></td>
            <td title = '<%= task.description %>'><%= task.description.first(20) %></td>
          <td><%= userAsString(task.user_id) %></td>
          <td><%= task.payment_description %></td>
          <% if task.category %>
             <td><%= link_to task.category.name, task.category %></td>
           <% else %>
              <td> None </td>
           <% end %>
          <td><%= userAsString(task.runner_id) %></td>



          <td><%= statusAsString(task.status) %></td>
          <td><%= task.address %></td>
          <!--<td><%= link_to 'Accept', task, method: :put, data: { confirm: 'Are you sure you want to accept this task?' } %></td>-->
          <% if user_signed_in? && (current_user.id == task.user_id || current_user.id == task.runner_id) && (task.status == 1)%>
            <td><%= link_to 'Mark Done', markdone_task_path(task) %></td>
          <% else %>
          <td></td>
          <% end %>
          <% if user_signed_in? && (current_user.id == task.runner_id) && (task.status == 1) %>
            <td><%= link_to 'Unaccept', unaccept_task_path(task) %></td>
          <% else %>
          <td></td>
          <% end %>
          <% if user_signed_in? && (task.status == 0) && (current_user.id != task.user_id)%>
            <td><%= link_to 'Accept', accept_task_path(task) %></td>
          <% else %>
          <td></td>
          <% end %>
          <td><%= link_to 'Show', task %></td>
          <% if user_signed_in? && (current_user.admin? || current_user.id == task.user_id) %>
            <td><%= link_to 'Edit', edit_task_path(task) %></td>
          <% else %>
          <td></td>
           <% end %>
          <% if user_signed_in? && (current_user.admin? || current_user.id == task.user_id) %>
            <td><%= link_to 'Destroy', task, method: :delete, data: { confirm: 'Are you sure you want to delete this task?' } %></td>
          <% else %>
          <td></td>
           <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>