<div class="container">
<div class="center jumbotron squidb" style="">
<% provide(:title, 'Task List') %>
<p id="notice"><%= notice %></p>

<h1>Listing Tasks</h1>

<div align="center"><table>
  <thead>
    <tr>
      <th>Description</th>
      <th>Title</th>
      <th>User</th>
      <th>PaymentDescription</th>
      <th>Category</th>
      <th>Runner</th>
      <th>Status</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tasks.each do |task| %>
      <tr>
        <td><%= task.description %></td>
        <td><%= task.title %></td>
        <td><%= task.user_id %></td>
        <td><%= task.payment_description %></td>
        <td><%= task.category %></td>
        <td><%= task.runner_id %></td>
        <td><%= task.status %></td>
        <!--<td><%= link_to 'Accept', task, method: :put, data: { confirm: 'Are you sure you want to accept this task?' } %></td>-->
        <% if user_signed_in? && (current_user.id == task.user_id || current_user.id == task.runner_id) && (task.status == 1)%>
          <td><%= link_to 'MarkDone', markdone_task_path(task) %></td>
        <% end %>
        <% if user_signed_in? && (current_user.id == task.runner_id) && (task.status == 1) %>
          <%= link_to 'Unaccept', unaccept_task_path(task) %>
        <% end %>
        <% if user_signed_in? && (task.status == 0) && (current_user.id != task.user_id)%>
          <td><%= link_to 'Accept', accept_task_path(task) %></td>
        <% end %>
        <td><%= link_to 'Show', task %></td>
        <% if user_signed_in? && (current_user.admin || current_user.id == task.user_id) %>
          <td><%= link_to 'Edit', edit_task_path(task) %></td>
         <% end %>
        <% if user_signed_in? && (current_user.admin || current_user.id == task.user_id) %>
          <td><%= link_to 'Destroy', task, method: :delete, data: { confirm: 'Are you sure you want to delete this task?' } %></td>
         <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
<br>
</div>
</div>
