<div class="container">
<div class="center jumbotron squidb" style="">
<p id="notice"><%= notice %></p>
<h1>Profile</h1>
<div class="divider">
  <p> Hello <%= current_user.first_name %>! </p>
  <p>This is your profile page. You can edit by clicking the edit button. </p>
<p>
  <strong>First name:</strong>
  <%= @user.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @user.last_name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
</div>
</div>
</div>
