<title>Squid Runner: The Superior Task Publishing Service</title>

  <% if user_signed_in? %>

  <div class="container">
    <div class="center jumbotron" style="">
  <h1> Task Summary</h1>
  <p>Hey there <%= current_user.first_name %>, welcome back! You're unique ID number is: <%= current_user.id %></p>
  </br></br>
  <h5>Tasks you completed:</h5>
  <% if !@myCompletedTasks.empty? %>
  <div align="center"><table>
      <thead>
        <tr>
          <th>Title</th>
          <th>Description</th>
          <th>User</th>
          <th>Payment Description</th>
          <th>Category</th>
          <th>Runner</th>
          <th>Status</th>
          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody>
        <% @myCompletedTasks.each do |task| %>
          <tr>
            <td title = '<%= task.title %>'><%= task.title.first(20)%></td>
            <td title = '<%= task.description %>'><%= task.description.first(20)%></td>
            <td><%= userAsString(task.user_id) %></td>
            <td><%= task.payment_description %></td>
            <% if task.category %>
              <td><%= link_to task.category.name, task.category %></td>
            <% else %>
              <td> None </td>
            <% end %>
            <td><%= userAsString(task.runner_id) %></td>
            <td><%= statusAsString(task.status) %></td>
            <td><%= link_to 'Show', task %></td>
            <% if current_user.admin || current_user.id == task.user_id %>
              <td><%= link_to 'Edit', edit_task_path(task) %></td>
            <% end %>
            <% if current_user.admin || current_user.id == task.user_id %>
              <td><%= link_to 'Destroy', task, method: :delete, data: { confirm: 'Are you sure?' } %></td>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <% else %>
    <h6> ---You have yet to complete a task, people are waiting for your help!--- </h6>
  <% end %>
  </br></br>
  <h5>Tasks you accepted:</h5>
  <% if !@myAcceptedTasks.empty? %>
  <div align="center"><table>
      <thead>
        <tr>
          <th>Title</th>
          <th>Description</th>
          <th>User</th>
          <th>Payment Description</th>
          <th>Category</th>
          <th>Runner</th>
          <th>Status</th>
          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody>
        <% @myAcceptedTasks.each do |task| %>
          <tr>
            <td title = '<%= task.title %>'><%= task.title.first(20) %></td>
            <td title = '<%= task.description %>'><%= task.description.first(20) %>...</td>
            <td><%= userAsString(task.user_id) %></td>
            <td><%= task.payment_description %></td>
            <% if task.category %>
              <td><%= link_to task.category.name, task.category %></td>
            <% else %>
              <td> None </td>
            <% end %>
            <td><%= userAsString(task.runner_id) %></td>
            <td><%= statusAsString(task.status) %></td>
            <td><%= link_to 'MarkDone', markdone_task_path(task) %></td>
            <td><%= link_to 'Unaccept', unaccept_task_path(task) %></td>
            <td><%= link_to 'Show', task %></td>
            <% if current_user.admin || current_user.id == task.user_id %>
              <td><%= link_to 'Edit', edit_task_path(task) %></td>
            <% end %>
            <% if current_user.admin || current_user.id == task.user_id %>
              <td><%= link_to 'Destroy', task, method: :delete, data: { confirm: 'Are you sure?' } %></td>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <% else %>
    <h6> ---You have yet to accept a task, people are waiting for your help!--- </h6>
  <% end %>
  </br></br>
  <h5>Tasks you published: </h5>
  <% if !@myPublishedTasks.empty? %>
  <div align="center">  <table>
      <thead>
        <tr>
          <th>Title</th>
          <th>Description</th>
          <th>User</th>
          <th>Payment</th>
          <th>Category</th>
          <th>Runner</th>
          <th>Status</th>
          <th colspan= "3"></th>
        </tr>
      </thead>

      <tbody>
        <% @myPublishedTasks.each do |task| %>
          <tr>
            <td title = '<%= task.title %>'><%= task.title.first(20) %> </td>
            <td title = '<%= task.description %>'><%= task.description.first(20) %> .. </td>
            <td><%= userAsString(task.user_id)  %></td>
            <td><%= task.payment_description %></td>
            <% if task.category %>
              <td><%= link_to task.category.name, task.category %></td>
            <% else %>
              <td> None </td>
            <% end %>
            <td><%= userAsString(task.runner_id) %></td>
            <td><%= statusAsString(task.status) %></td>
            <% if task.status == 1 %>
              <td><%= link_to 'Mark Done', markdone_task_path(task) %></td>
            <% end %>
            <td><%= link_to 'Show', task %></td>
            <td><%= link_to 'Edit', edit_task_path(task) %></td>
            <td><%= link_to 'Destroy', task, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <% else %>
  <h6> ---You have yet to publish a task, people are waiting to help you!--- </h6>
  <% end %>
</div>
</div>

	<% else %>

  <header>
      <div class="container">
          <div class="intro-text">
              <div class="intro-lead-in">Welcome To Squid Runner!</div>
              <div class="intro-heading">It's Nice To Meet You</div>
              <a href="#services" class="page-scroll btn btn-xl">Tell Me More</a>
          </div>
      </div>
  </header>


  <!-- Services Section -->
  <section id="services">
      <div class="container">
          <div class="row">
              <div class="col-lg-12 text-center">
                  <h2 class="section-heading">What is Squid Runner </h2>
                  <h3 class="section-subheading text-muted">A superior task-publishing service platform.</h3>
              </div>
          </div>
          <div class="row text-center">
              <div class="col-md-4">
                  <span class="fa-stack fa-4x">
                      <i class="fa fa-circle fa-stack-2x text-primary"></i>
                      <i class="fa fa-shopping-cart fa-stack-1x fa-inverse"></i>
                  </span>
                  <h4 class="service-heading">Publish a Task</h4>
                  <p class="text-muted">Need to grab food but no time? Need to do laundry but no time? Squid Runner comes to rescue. </p>
              </div>
              <div class="col-md-4">
                  <span class="fa-stack fa-4x">
                      <i class="fa fa-circle fa-stack-2x text-primary"></i>
                      <i class="fa fa-laptop fa-stack-1x fa-inverse"></i>
                  </span>
                  <h4 class="service-heading">Run a Task</h4>
                  <p class="text-muted">Make money and friends.</p>
              </div>
              <div class="col-md-4">
                  <span class="fa-stack fa-4x">
                      <i class="fa fa-circle fa-stack-2x text-primary"></i>
                      <i class="fa fa-lock fa-stack-1x fa-inverse"></i>
                  </span>
                  <h4 class="service-heading">Browse Open Tasks</h4>
                  <p class="text-muted">See what's in demand right now.</p>
              </div>
          </div>
      </div>
  </section>
  <!-- Login/Sighup Section -->
  <section id="login">
      <div class="container">
          <div class="row">
              <div class="col-lg-12 text-center">
                  <h2 class="section-heading">Start to Use Squid Runner</h2>
                  <h3 class="section-subheading text-muted">A superior task-publishing service platform.</h3>
                  <p>Hey there, <%= link_to 'log in', new_user_session_path %> or <%= link_to 'sign up', new_user_registration_path %> to start Squid Running!</p>
              </div>
          </div>
        </div>
  </section>

  <!-- About Section -->
  <section id="about">
      <div class="container">
          <div class="row">
              <div class="col-lg-12 text-center">
                  <h2 class="section-heading">About</h2>
                  <h3 class="section-subheading text-muted">The Journey So Far.</h3>
              </div>
          </div>
          <div class="row">
              <div class="col-lg-12">
                  <ul class="timeline">
                      <li>
                          <div class="timeline-image">
                              <img class="img-circle img-responsive" src ="/img/about/1.jpg" alt=""></img>
                          </div>
                          <div class="timeline-panel">
                              <div class="timeline-heading">
                                  <h4>Feb 2015</h4>
                                  <h4 class="subheading">Our Humble Beginnings</h4>
                              </div>
                              <div class="timeline-body">
                                  <p class="text-muted">Team formed!</p>
                              </div>
                          </div>
                      </li>
                      <li class="timeline-inverted">
                          <div class="timeline-image">
                              <img class="img-circle img-responsive" src ="/img/about/2.jpg"></img>
                          </div>
                          <div class="timeline-panel">
                              <div class="timeline-heading">
                                  <h4>March 2015</h4>
                                  <h4 class="subheading">An Idea is Born</h4>
                              </div>
                              <div class="timeline-body">
                                  <p class="text-muted">Decided on making a task-publishing platform.</p>
                              </div>
                          </div>
                      </li>
                      <li>
                          <div class="timeline-image">
                              <img class="img-circle img-responsive" src="/img/about/3.jpg" alt="" ></img>
                          </div>
                          <div class="timeline-panel">
                              <div class="timeline-heading">
                                  <h4>April 2015</h4>
                                  <h4 class="subheading">Transition to Full Service</h4>
                              </div>
                              <div class="timeline-body">
                                  <p class="text-muted">Coding, coding and coding!</p>
                              </div>
                          </div>
                      </li>
                      <li class="timeline-inverted">
                          <div class="timeline-image">
                              <img class="img-circle img-responsive" src="/img/about/4.jpg" alt="">
                          </div>
                          <div class="timeline-panel">
                              <div class="timeline-heading">
                                  <h4>Now</h4>
                                  <h4 class="subheading">Phase Two Testing</h4>
                              </div>
                              <div class="timeline-body">
                                  <p class="text-muted">Testing!</p>
                              </div>
                          </div>
                      </li>
                      <li class="timeline-inverted">
                          <div class="timeline-image">
                              <h4>Be Part
                                  <br>Of Our
                                  <br>Story!</h4>
                          </div>
                      </li>
                  </ul>
              </div>
          </div>
      </div>
  </section>

  <!-- Team Section -->
  <section id="team" class="bg-light-gray">
      <div class="container">
          <div class="row">
              <div class="col-lg-12 text-center">
                  <h2 class="section-heading">Our Amazing Team</h2>
                  <h3 class="section-subheading text-muted">Meet Squid Runner guys!</h3>
              </div>
          </div>
          <div class="row">
              <div class="col-sm-4">
                  <div class="team-member">
                      <img src="/img/team/1.jpg" class="img-responsive img-circle" alt="">
                      <h4>Alex Garzon</h4>
                      <p class="text-muted">Project Manager</p>
                  </div>
              </div>
              <div class="col-sm-4">
                  <div class="team-member">
                      <img src="/img/team/2.jpg" class="img-responsive img-circle" alt="">
                      <h4>Eddie Chen</h4>
                      <p class="text-muted">Software/Design</p>
                  </div>
              </div>
              <div class="col-sm-4">
                  <div class="team-member">
                      <img src="/img/team/3.jpg" class="img-responsive img-circle" alt="">
                      <h4>Zhengyang Cong</h4>
                      <p class="text-muted">Software Developer</p>
                  </div>
              </div>
          </div>
          <div class="row">
              <div class="col-lg-8 col-lg-offset-2 text-center">
                  <p class="large text-muted">Princeton University, Class of 2016.</p>
              </div>
          </div>
      </div>
  </section>


  </br>


	<% end %>
